<div class="form-continer">
    <form (ngSubmit)="submit()">
        <label class="info">Full Name:</label>
        <div class="form-item">
            <input type="text" name="full" #fullName="ngModel" placeholder="(minimum 3 characters)" [(ngModel)]="name" required minlength="3">
            <div *ngIf="fullName.invalid && fullName.dirty">
                <div *ngIf="fullName.errors.required">
                    Full Name is required.
                </div>
                <div *ngIf="fullName.errors.minlength">
                    The name must contain at least 3 characters.
                </div>
            </div>
        </div>

        <label class="info">Address:</label>
        <div class="form-item">
            <input type="text" name="address0" #Address="ngModel" placeholder="(minimum 6 characters)" [(ngModel)]="address" required minlength="6">
            <div *ngIf="Address.invalid && Address.dirty">
                <div *ngIf="Address.errors.required">
                    Address is required.
                </div>
                <div class="warn" *ngIf="Address.errors.minlength">
                    The Address must contain at least 6 characters.
                </div>
            </div>
        </div>

        <label class="info">Credit Card Number:</label>
        <div class="form-item">
            <input type="text" name="creditCard" #card="ngModel" placeholder="(16-digit number)" [(ngModel)]="cardNumber" required minlength="16" maxlength="16">

            <div *ngIf="card.invalid && card.dirty">
                <div *ngIf="card.errors.required">
                    Card Number is required.
                </div>
                <div *ngIf="card.errors.minlength">
                    The Card Number must contain 16 digit number.
                </div>
                <div *ngIf="card.errors.maxlength">
                    The Card Number must contain 16 digit number.
                </div>
            </div>
        </div>
        <button class="submit-btn" type="submit" [disabled]="fullName.invalid || Address.invalid || card.invalid ">Submit</button>
    </form>
</div>