img {
    border-radius: 10px;
    width: 320px;
}

.select-input {
    width: 100px;
    text-align: center;
    margin-bottom: 8px;
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.detail-item {
    margin-left: 128px;
    margin-right: 128px;
}

.back-link {
    margin-top: 8px;
    color: blue;
    text-decoration: none;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1024px;
    margin-bottom: 10px;
}

.product-title {
    font-size: 30px!important;
    font-weight: bold;
}

.add-btn {
    background-color: rgb(74, 74, 238);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.add-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}